*include/		     
*simvision33151.diag      
*MANIFEST.txt	     
*spf/
*command.log	       
*mdv.log		     

*cons/		       
*netlist/		     
*syn.csh
*cov_rpt.csh	       
*pr/		     
*synopsys_cache_O-2018.06-SP1/
*cov_work/	       
*pr.csh	     
*.synopsys_dc.setup
*dc/		       
*pt/		     
*.synopsys_pt_prefs.tcl
*dc_shell_cmp.log       
*pt.csh	     
*.uvmtclcomm.txt
*dc_shell_cmp_scan.log  
    
*waves.shm/
*default.svf	       
*report/		     
*work_lib/
*etc/		       
*saif/		     
*xcelium.shm/
*filenames.log	       
*sdf/		     
*xmsc.log
*imc.csh	       
*sim.csh		     
*xrun.history
*imc.key		       
*.simvision/	     
*xrun.key
*imc.log		       
*simvision237708.diag  xrun.log
