dc_shell_cmp.log	     
imc.key	   
pr.csh     
sim.csh		     
synopsys_cache_O-2018.06-SP1/  
xmsc.log

dc_shell_cmp_scan.log  
imc.log	   
pt/	       
.simvision/	     
.synopsys_dc.setup		    
xrun.history
command.log   
default.svf	     
include/	   
pt.csh*     
simvision237708.diag  
.synopsys_pt_prefs.tcl	   
xrun.key
cons/	      
etc/		    
MANIFEST.txt  
README.txt  
simvision33151.diag   
.uvmtclcomm.txt		    
xrun.log
cov_rpt.csh  
filenames.log	     
mdv.log	   
report/     
spf/		     
waves.shm/
cov_work/     
netlist/	   
saif/       	     
work_lib/
dc/	      
imc.csh		     
pr/	   
sdf/        
syn.csh		     
xcelium.shm/
